.jumbotron img{
    width: 200px;
}

.jumbotron {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.judul{
    text-align: center;
    min-width: 600px;
}

.judul hr{
    width: 100px;
    border: solid darkgray;
}